.game_container{
    width:600px;
    height:640px;
    margin:120px auto;
    background:#fff;
    border-radius:25px;
}

.game_container > h1{
  text-align:center;
  padding-top:20px;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:3em;
}

.question_container{
  height:400px;
  width:560px;
  padding:10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
